<header id="main-header" >
    <div class="container">
      <div class="row row-cols-8 row-cols-md-4 g-4 d-flex" >
        <div class="col centro">
          <h1>TECH BIZ</h1>
        </div>
        <div class="col">
        <div class="header-info-area d-flex align-items-center">
          <div class="header-info_icon"><i class="bi bi-phone"></i></div>
          <div class="media-body">
            <span class="header-info_label">Contáctanos</span>
            <span class="header-info_link">910956422</span>
          </div> 
          
        </div>  
        </div>
        <div class="col l1">
          <div class="header-info-area d-flex align-items-center">
            <div class="header-info_icon"><i class="bi bi-envelope"></i></div>
            
            <div class="media-body">
              <span class="header-info_label">Correo</span>
              <span class="header-info_link">daniel@gmail.com</span>
            </div> 
            
          </div>  
          </div>
          <div class="col l2">
            <div class="header-info-area d-flex align-items-center  sin-display">
              
              <div class="media-body">
                <span class="header-info_label">Ubicacion</span>
                <span class="header-info_link">Lima, Perú</span>
              </div> 
              <div class="header-info_icon"><i class="bi bi-geo-alt"></i></div>
            </div>  
            </div>
      </div>
    </div>
  </header>