<div id="proveedores" >
    <div class="container">
    <h2>Nuestros Proveedores</h2>
    <h1>UNA SECCION DE NUESTROS <br> PROVEEDORES </h1>

    <div class="row row-cols-8 row-cols-md-4 g-4" id="contenido">

      <div class="col" *ngFor="let item of listaProveedores">
        <div class="card border">
            <i class="bi bi-emoji-laughing"></i>
            <div class="card-body">
            <h5 class="card-title">{{item.nombreempresa}}</h5>
            <p class="card-text">{{item.cargocontacto}},{{item.ciudad}},{{item.pais}}</p>
              
            </div>
          </div>
        </div>
    </div>
    </div>
</div> 